.nav {
    display: inline;
    width: 150px;
    height: 300px;
    background-color: darkslategray;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
    font-size: x-large;
}
.item a {
    color: bisque;
    padding: 10px;
    text-decoration: none;
}
.item a.active {
    color: slateblue;
}
